body{
  font-family: 'Audiowide', cursive;
}
#movieList{
  font-family: 'Special Elite', cursive;
  position: relative;
  top: 90px;
}
#navbar{
  padding: 5px;

}
#navbar a{
  margin-right: 20px;
}

#navTitle{
    font-size: 25px;
}
#title-navForm{
  margin-top: 10px;
}
#movieImage{
  margin-left: auto;
  margin-right: auto;
}
#navForm{
  margin-top: 10px;
  float: right;
}
